@media print {
    @page {
        size: A4;
        margin: 0;
    }

    * {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }

    body {
        font-size: 11pt;
    }

    // Hide UI elements not needed in PDF
    .language-sw,
    .remove-container,
    footer,
    .pdf,
    .website:last-of-type {
        display: none !important;
    }

    img.profile-image {
        width: 100px;
        filter: grayscale(1);
        -webkit-filter: grayscale(1);
    }

    .sidebar-wrapper {
        position: static;
        float: right;
        width: 38%;
    }

    .main-wrapper {
        float: left;
        width: 60%;
    }

    .main-wrapper .time {
        float: right;
        color: black !important;
    }

    .skillset .level-bar-inner {
        background-color: #333 !important;
    }

    .fa-inverse,
    .fa-inverse:after,
    .fa-inverse:before {
        color: #ffffff !important;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .wrapper {
        page-break-inside: avoid;
    }

    .section {
        page-break-inside: avoid;
    }
}
