/* SAP Blue variables */
$theme-color: #0070F2;
$text-color: #1D2D3E;
$text-color-secondary: #32363A;
$text-grey: #6A7884;
$divider: #D9E5F0;
$lighter-grey: #ccc;
$darker-grey: #556B82;
$smoky-white: #F5F8FC;
$heart: #fb866a;
